 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #8aff8a, #75f87b);
}

/* Calculator box */
.container{
    width: 100%;
    max-width: 380px;
    background-color: rgb(21, 22, 22);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}

/* Display */
.display{
    margin-bottom: 20px;
}

.display input{
    width: 100%;
    height: 90px;
    font-size: clamp(32px, 6vw, 60px);
    border: none;
    border-radius: 50px;
    background-color: rgb(198, 228, 228);
    outline: none;
    padding: 0 20px;
    text-align: right;
}

/* Buttons grid */
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
    gap: 12px;
}

/* All buttons */
button{
    font-size: 28px;
    border-radius: 20px;
    border: none;
    background-color: rgb(21, 22, 22);
    color: rgb(200, 200, 200);
    cursor: pointer;
    transition: 0.3s ease;
}

/* Operators color */
.color{
    color: rgb(50, 238, 25);
}

/* Hover effects */
button:hover{
    background-color: rgb(60, 60, 60);
}

.color:hover{
    background-color: rgb(238, 255, 0);
    color: black;
}

/* Clear & Equal buttons */
.clear{
    grid-column: span 2;
    border: 2px solid rgb(31, 30, 30);
}

.equal{
    grid-column: span 2;
    border: 2px solid rgb(31, 30, 30);
}

/* Active press effect */
button:active{
    transform: scale(0.95);
}
